extends ./content/layout

block vars
    - let path = "./"
    - let title = "Dictators’ Handbook"

block content
    main
        section
            img(src=path+"/images/ghzel/top.png")
            h1
                span Dictators’ Handbook
            h2 From political chess moves to untold secrets, we cover it all.
        section
            h2 About the Project
            p   Dictators’ Handbook is an innovative framework that combines the traditional appeal of magazines with modern interactive mapping and rich metadata. Our platform allows readers to explore content through geographic locations, discovering how stories connect across space and time. This project is realized for the Web Technology and Information Modeling course at the University of Bologna.
            p Each issue is dedicated to one of the world’s dictators, offering a deep dive into their rise to power, scandals, and lasting impact. All articles are enhanced with geographic references and interconnected through the metadata layer about people, organizations, events and dates. Also, you can switch between different design themes to adjust the page layout to your taste.
            button Read the Documentation

        section
            h2 Customize Your Magazine
            p We have developed several unique designs for our magazine, each inspired by a specific historical period and filled with references to particular years and cultures. Immerse yourself in the atmosphere of the past and choose the style that suits you best! You can read more about each design in the project documentation.
            article
                img(src=path+"images/ghzel/gzhel_card.png")
                div
                    h3 Russian Craft Gzhel
                    p This style blends the traditional blue-and-white aesthetics of Russian Gzhel ceramics with the ornate typography of ancient Slavic manuscripts. Gzhel is known for its intricate floral and folk-inspired patterns, while the layout echoes medieval scriptoria with decorative initials and structured compositions. The result is a harmonious fusion of folk artistry and historical elegance.
                    button(data-action="theme" data-value="gzhel") Apply
            article
                div
                    h3 Suprematism
                    p Suprematism was a Russian avant-garde art movement founded in the early 20th century, emphasizing geometric forms and pure abstraction.
                    button(data-action="theme" data-value="suprematism") Apply
                img(src=path + "images/suprematism/supr-card.png")
        section
            h2 Read the Next Issue
            div
                img(src=path + "issues/img/stalin_5.png" alt="Stalin Issue")
                a(href=path + "issues/last_days_of_soviet_dictator.html") Check Out
        section
            h2  Our Universe
            div#map.map
