header
    nav.navbar.navbar-expand-sm
        button.custom_btn-nav.navbar-toggler(type="button" data-bs-toggle="offcanvas" data-bs-target="#navbar")
            svg(xmlns="http://www.w3.org/2000/svg" class="bi bi-list" viewBox="0 0 16 16")
                path(fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5")
        #navbar.offcanvas.offcanvas-start(data-bs-scroll="true" data-bs-backdrop="false")
            .offcanvas-header
                h5.offcanvas-title Navigation
                button.custom_btn-nav(type="button" data-bs-dismiss="offcanvas")
                    svg(xmlns="http://www.w3.org/2000/svg" class="bi bi-x" viewBox="0 0 16 16")
                        path(d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708")
            ul.navbar-nav.offcanvas-body
                if path === "./"
                    li.nav-item
                        a.nav-link(href=path + "index.html#about") About
                else
                    li.nav-item
                        a.nav-link(href=path + "index.html") Home

                li.nav-item.dropdown
                    button.nav-link.dropdown-toggle(type="button" data-bs-toggle="dropdown" aria-expanded="true") Issues
                    ul.dropdown-menu
                        li.dropdown-item.dropend
                            button.dropdown-toggle.nav-link(type="button" data-bs-toggle="dropdown" aria-expanded="false") Stalin
                            ul.dropdown-menu
                                li.dropdown-item
                                    a.nav-link(href=path + "issues/last_days_of_soviet_dictator.html") The Last Days of the Soviet Dictator
                                li.dropdown-item
                                    a.nav-link(href=path + "issues/joseph_stalin_paranoid_purge.html") Joseph Stalin's Paranoid Purge
                                li.dropdown-item
                                    a.nav-link(href=path + "issues/world_that_made_stalin.html") The World That Made Stalin
                li.nav-item.dropdown
                    button.nav-link.dropdown-toggle(type="button" data-bs-toggle="dropdown" aria-expanded="false") Change Design
                    ul.dropdown-menu
                        li.nav-link.dropdown-item(data-action="theme" data-value="gzhel") Old Russian Ghzel
                        li.nav-link.dropdown-item(data-action="theme" data-value="suprematism") Suprematism
                li.nav-item
                    a.nav-link(href="") Documentation
                li.nav-item
                    a.nav-link(href="") Disclaimer