extends ../content/layout

block vars
    - let path = "../"
    - let title = "The Last Days of the Soviet Dictator"

block content
    .content
        main.issue_1
            div.mark
                span Issue 1
                span Article 1
            section.section_1_1
                p.caption.no-letter The Last Days of the Soviet Dictator
                h1 71 years after Stalin's death, Russian communists suspected that he was killed by "Western special services." In fact, they should look for the culprits right under their noses.
                ul
                    li
                        strong Authors:
                        |&#32;Serhii Pyvovarov, Dmytro Rayevskyi, Kateryna Kobernyk
                    li
                        strong Published:
                        |&#32;
                        span(data-type="date") March 8, 2024
                        |&#32;at 13:13
                    li
                        a(href="") Source
                p
                    |Dictator
                    |&#32;
                    span(data-type="person" data-id="JoSt") Joseph Stalin
                    |, who ruled the
                    | &#32;
                    span(data-type="place" data-id="USSR") USSR
                    | &#32;
                    |for more than thirty years, died on
                    | &#32;
                    span(data-type="date") March 5, 1953
                    |. According to the official version, it was caused by a brain hemorrhage enhanced by hypertensive crisis. But there are numerous conspiracy theories about the assassination of
                    | &#32;
                    span(data-type="person" data-id="JoSt") Stalin
                    |. This year, the
                    | &#32;
                    span(data-type="organization" data-id="CoRu") "Communists of Russia" party
                    | &#32;
                    |asked the FSB to investigate the involvement of "Western special services" in the
                    | &#32;
                    span(data-type="event" data-id="StDe") dictatorʼs death
                    |. There are indeed many white spots in the history of
                    | &#32;
                    span(data-type="event" data-id="StDe") Stalinʼs death
                    |. However, as the researchers testify, if there is anyone to suspect, it is the immediate circle of the Kremlin leader. And especially his closest associate
                    | &#32;
                    span(data-type="person" data-id="LaBe") Lavrentiy Beria
                    |.
                    | &#32;
                    span(data-type="organization" data-id="Babl") Babel
                    | &#32;
                    |tells about the state of
                    | &#32;
                    span(data-type="person" data-id="JoSt") Stalinʼs
                    |&#32;
                    |health, which was not as strong as it was presented by propaganda, about the official version of the last days of his life and, of course, about versions of a possible murder.
                figure.p1_1.style1
                    img(src=path + "issues/img/art_1_1.webp")
                    figcaption
                        span
                            |In the photo next to
                            | &#32;
                            span(data-type="person" data-id="JoSt") Stalinʼs
                            |&#32;
                            |coffin are his closest associates (from right to left):
                            | &#32;
                            span(data-type="person" data-id="NiKh") Nikita Khrushchev
                            |,
                            | &#32;
                            span(data-type="person" data-id="LaBe") Lavrentiy Beria
                            |,
                            | &#32;
                            span(data-type="person"  data-id="GeMa") Georgy Malenkov
                            |&#32;
                            |and
                            | &#32;
                            span(data-type="person" data-id="NiBu") Nikolai Bulganin,
                            | &#32;
                            span(data-type="date") March 1953
                            |.
                        span
                            |Getty Images /
                            | &#32;
                            span(data-type="organization" data-id="Babl") «Babel»
            section.section_1_2
                h2 Stalin had poor health and did not trust doctors
                p
                    |The state of health of Kremlin leaders is still one of the most important state secrets. During
                    | &#32;
                    span(data-type="person" data-id="JoSt") Stalinʼs
                    | &#32;
                    |time, this secret was guarded especially strictly, and propaganda spread the myth of a "strong Caucasian body". So the researchers had to collect real facts piecemeal — in fragments of documents, letters, and memories.
                p
                    span(data-type="person" data-id="JoSt") Stalinʼs
                    | &#32;
                    |first serious health problems began around
                    | &#32;
                    span(data-type="date") 1926
                    |, when he was 48 years old. He complained of severe pain in the muscles of his arms and legs. On the recommendation of doctors,
                    span(data-type="person" data-id="JoSt") Stalin
                    |underwent a course of hydrogen sulfide baths in
                    span(data-type="place" data-id="plAb") Abkhazia
                    |.
                p
                    |Georgian province, now an effectively
                    span(data-type="place" data-id="plRu") Russia
                    |-occupied quasi-state.
                p
                    |He was periodically treated at these resorts throughoutthe
                    span(data-type="date") 1930s
                    |.
                figure.p1_2.style4
                    img(src=path + "issues/img/art_1_2.webp")
                    figcaption
                        span
                            span(data-type="person" data-id="JoSt") Joseph Stalin
                            |with bodyguards on the street in
                            span(data-type="place" data-id="plMo") Moscow
                            |,
                            span(data-type="date") 1920s
                            |.
                        span
                            |Getty Images /
                            span(data-type="organization" data-id="Babl") «Babel»
                p
                    |In
                    span(data-type="date") the early 1940s
                    |,
                    span(data-type="person" data-id="JoSt") Stalin
                    |developed new problems — signs of hypertension and atherosclerosis. By the end of the Second World War, the problems intensified. At the
                    span(data-type="date") end of 1945
                    |, he had his first heart attack, and in
                    span(data-type="date") 1946
                    |,
                    span(data-type="person" data-id="JoSt") Stalin
                    |suffered a severe stroke. During these periods, even his daughter
                    span(data-type="person" data-id="SvAl") Svetlana
                    |was forbidden not only to visit her father, but also to call him.
                p
                    |Despite this,
                    span(data-type="person" data-id="JoSt") Stalin
                    |did not lead a healthy lifestyle. He smoked a lot, regularly drank alcohol, especially before going to bed. And he went to bed late after 15-18 hours of sedentary working day. His "diet" consisted of fatty Caucasian dishes.
                p
                    |He followed the doctorsʼ advice selectively. After a stroke in
                    span(data-type="date") 1946
                    |, he spent more time at his suburban dacha in
                    span(data-type="place" data-id="plKu") Kuntsevo
                    |.
                p
                    |Now
                    span(data-type="place" data-id="plKu") Kuntsevo
                    |is part of one of the districts of
                    span(data-type="place" data-id="plMo") Moscow
                    |, the dacha is under state guard.
                p
                    |There,
                    span(data-type="person" data-id="JoSt") Stalin
                    |walked a lot in the park in the fresh air, but continued to smoke and drink alcohol. Also, he slept too little. When his health took a turn for the worse, he abruptly quit smoking on the eve of his 72nd birthday in
                    span(data-type="date") December 1952
                    |. Of course, it was not easy for the smoker with more than 50 years of experience. He gained weight, became irritable and agitated, and had problems with blood pressure.
                figure.p1_3.style4
                    video(src=path + "issues/img/art_1_3.mp4" autoplay muted loop playsinline width="100%") Your browser does not support the video tag.
                    figcaption
                        span
                            span(data-type="person" data-id="JoSt") Joseph Stalin
                            |surrounded by the Soviet leadership during a parade on
                            span(data-type="place" data-id="plRS") Red Square
                            |in
                            span(data-type="place" data-id="plMo") Moscow
                            |,
                            span(data-type="date") late 1940s
                            |.
                        span
                            |Getty Images /
                            span(data-type="organization" data-id="Babl") «Babel»
                p
                    |In addition, telling the chief about his illnesses was dangerous for the health of the doctors themselves. In
                    span(data-type="date") 1927
                    |, rumors spread in Moscow medical circles about the sudden death of the well-known neuropathologist and psychiatrist
                    span(data-type="person" data-id="VlBe") Vladimir Bekhterev
                    |. According to legend, he was called to examine
                    span(data-type="person" data-id="JoSt") Stalin
                    |, and he unexpectedly diagnosed the Soviet dictator with a severe form of paranoia, in addition to neurological problems.
                    span(data-type="person" data-id="VlBe") Bekhterev
                    |told his acquaintances about his discovery. And in a few days, he died right during a congress of neuropathologists and psychiatrists. According to the official version, the doctor "poisoned with canned goods" at the banquet. No forensic investigation into the circumstances of death was conducted, and the body was quickly cremated.
                p
                    span(data-type="person" data-id="VlVi") Vladimir Vinogradov
                    |was
                    span(data-type="person" data-id="JoSt") Stalinʼs
                    |personal physician from the
                    span(data-type="date") mid-1940s
                    |. In
                    span(data-type="date") 1952
                    |, he strongly advised the dictator to work less and rest more.
                    span(data-type="person" data-id="JoSt") Stalin
                    |suspected a conspiracy, thinking that his enemies allegedly tried to remove him from the leadership of the state in this way. In
                    span(data-type="date") November 1952
                    |,
                    span(data-type="person" data-id="VlVi") Vinogradov
                    |ended up in prison as part of the
                    span(data-type="event" data-id="DtAf") "Doctorsʼ Affair"
                    |.
                p
                    |A criminal case was fabricated in
                    span(data-type="date") 1952
                    |-
                    span(data-type="date") 1953
                    |&#32;against a group of famous Soviet doctors who were accused of conspiring and murdering several Soviet leaders. Most of those arrested had Jewish roots, so historians consider this case part of a large-scale anti-Semitic campaign in the
                    span(data-type="place" data-id="USSR") USSR
                    |that began in the
                    span(data-type="date") late 1940s
                    |.
                p
                    |— one of the large-scale repressive campaigns personally overseen by
                    span(data-type="person" data-id="JoSt") Stalin
                    |at the end of his life. Since then, no one has conducted medical examinations of the dictator. And the medical history, which was kept by
                    span(data-type="person" data-id="VlVi") Vinogradov
                    |, was destroyed by
                    span(data-type="person" data-id="JoSt") Stalinʼs
                    |personal order.
            section.section_1_3
                h2 The last days of Stalin — the official version
                p
                    |In recent months,
                    span(data-type="person" data-id="JoSt") Stalin
                    |hardly appeared in the
                    span(data-type="place" data-id="plKr") Kremlin
                    |. He spent all his time at the country house in
                    span(data-type="place" data-id="plKu") Kuntsevo
                    |. Sometime before lunch, he slept, and then he got down to business. In the evening, he usually summoned four people from his closest circle to him — the deputies in the government,
                    span(data-type="person"  data-id="GeMa") Georgy Malenkov
                    |,
                    span(data-type="person" data-id="LaBe") Lavrentiy Beria
                    |, and
                    span(data-type="person" data-id="NiBu") Nikolai Bulganin
                    |, and the first secretary of the
                    span(data-type="organization" data-id="MoCo") Moscow Regional Committee
                    |,
                    span(data-type="person" data-id="NiKh") Nikita Khrushchev
                    |. Together they discussed business, had dinner, drank, and watched movies until late at night.
                p
                    |Such a party took place at
                    span(data-type="person" data-id="JoSt") Stalinʼs
                    |dacha on
                    span(data-type="date") February 28, 1953
                    |. The guests left around five in the morning. According to
                    span(data-type="person" data-id="NiKh") Khrushchevʼs
                    |recollections,
                    span(data-type="person" data-id="JoSt") Stalin
                    |saw them off personally, drank a lot and was in a good humor: "He joked a lot, poked me in the stomach with his finger, calling me Mykyta. He always used the Ukrainian form of my name when he was in a good mood."
                figure.p1_4.style3
                    img(src=path + "issues/img/art_1_4.webp")
                    figcaption
                        span
                            span(data-type="person" data-id="JoSt") Stalin
                            |with his closest entourage in
                            span(data-type="place" data-id="plMo") Moscow
                            |. On his left is
                            span(data-type="person" data-id="NiKh") Nikita Khrushchev
                            |, on his right is
                            span(data-type="person"  data-id="GeMa") Georgy Malenkov
                            |,
                            span(data-type="person" data-id="LaBe") Lavrentiy Beria
                            |and
                            span(data-type="person" data-id="VyMo") Vyacheslav Molotov
                            |,
                            span(data-type="date") 1946
                            |.
                        span
                            |Getty Images /
                            span(data-type="organization" data-id="Babl") «Babel»
                p
                    |On
                    span(data-type="date") the first of March
                    |,
                    span(data-type="person" data-id="JoSt") Stalin
                    |did not leave his room at noon, as was usually the case. Motion detectors installed in each room did not detect any movements. So the guards began to worry, but they did not dare to look into the chiefʼs bedroom. Finally, around six in the evening, the light came on in his room, so the security relaxed a bit. A reason to go to the chiefʼs room was found only around ten in the evening — business mail was brought, and it had to be handed over personally.
                p
                    |One of the guards entered the room and found
                    span(data-type="person" data-id="JoSt") Stalin
                    |in a helpless state on the floor. The security moved him to the couch and called their direct supervisor, Minister of State Security
                    span(data-type="person"  data-id="SeIg") Semyon Ignatiev
                    |. According to the recollections of the guards, he did not dare to decide something on his own, but sent his subordinates to
                    span(data-type="person"  data-id="GeMa") Malenkov
                    |and
                    span(data-type="person" data-id="LaBe") Beria
                    |. They arrived around 1 AM,
                    span(data-type="person" data-id="NiKh") Khrushchev
                    |and
                    span(data-type="person" data-id="NiBu") Bulganin
                    |arrived later. After long hesitation,
                    span(data-type="person"  data-id="GeMa") Malenkov
                    |and
                    span(data-type="person" data-id="LaBe") Beria
                    |decided to look into
                    span(data-type="person" data-id="JoSt") Stalinʼs
                    |room.
                    span(data-type="person"  data-id="GeMa") Malenkov
                    |even took off his shoes so that they would not squeak. In a few minutes, they returned, said that
                    span(data-type="person" data-id="JoSt") Stalin
                    |was asleep, and scolded the guards for causing an unreasonable panic. After that, all four left.
                p
                    |On the morning of
                    span(data-type="date") March 2
                    |, the guards reported that something was wrong with the leader. Then the "four" finally decided to call the doctors to the dacha. They quickly diagnosed
                    span(data-type="person" data-id="JoSt") Stalin
                    |with a massive hemorrhage in the left hemisphere of the brain due to hypertension and atherosclerosis of blood vessels. As a result — loss of speech, paralysis of the right arm and left leg. The next day, an expanded council of doctors announced the verdict —
                    span(data-type="event" data-id="StDe") Stalinʼs death
                    |was inevitable within days, if not hours.
                figure.p1_5.style1
                    img(src=path + "issues/img/art_1_5.webp")
                    figcaption
                        span
                            |A coffin with
                            span(data-type="person" data-id="JoSt") Stalinʼs
                            |body in the
                            span(data-type="place" data-id="plHo") House of Trade Unions
                            |in
                            span(data-type="place" data-id="plMo") Moscow
                            |,
                            span(data-type="date") March 1953.
                        span
                            |Getty Images /
                            span(data-type="organization" data-id="Babl") «Babel»
                p
                    |On
                    span(data-type="date") March 4
                    |, the
                    span(data-type="organization" data-id="PrNe") Pravda newspaper
                    |published an announcement about Comrade
                    span(data-type="person" data-id="JoSt") Stalinʼs
                    |"severe illness." And around ten in the evening on
                    span(data-type="date") March 5
                    |, doctors declared his
                    span(data-type="event" data-id="StDe") death
                    |.
            section.section_1_4
                h2 Versions about the murder
                p
                    |There are many conspiracy theories about
                    span(data-type="event" data-id="StDe") Stalinʼs death
                    |, as if the dictator was killed. But none of them can be confirmed due to the lack of documents and closed access to the archives of the
                    span(data-type="organization" data-id="KGB") Kremlin special services
                    |.
                p
                    |Most historians and researchers agree that when it comes to
                    span(data-type="person" data-id="JoSt") Stalinʼs
                    |murder, the culprits should be sought in his closest circle. First of all, this concerns
                    span(data-type="person"  data-id="GeMa") Malenkov
                    |,
                    span(data-type="person" data-id="LaBe") Beria
                    |and
                    span(data-type="person" data-id="NiKh") Khrushchev
                    |.
                    span(data-type="person" data-id="NiBu") Bulganin
                    |never had real power and strength. He was an old party member who from time to time "plugged" holes in various ministries and departments.
                p
                    span(data-type="person"  data-id="GeMa") Malenkov
                    |,
                    span(data-type="person" data-id="LaBe") Beria
                    |and
                    span(data-type="person" data-id="NiKh") Khrushchev
                    |can be accused of not providing timely assistance to
                    span(data-type="person" data-id="JoSt") Stalin
                    |. With such a diagnosis, even in modern medicine, the patientʼs chances of survival are 50/50, and this is under the conditions of operative medical care. And doctors were allowed to see
                    span(data-type="person" data-id="JoSt") Stalin
                    |almost half a day later. However, it is unlikely that these three would be able to organize a conspiracy, even a spontaneous one. Actually,
                    span(data-type="person" data-id="JoSt") Stalin
                    |was the person who kept them from starting to fight among themselves for power.
                figure.p1_6
                    img(src=path + "issues/img/art_1_6.webp")
                    figcaption
                        span
                            span(data-type="person" data-id="JoSt") Stalin
                            |during a speech,
                            span(data-type="date") late 1940s
                            |.
                        span
                            |Getty Images /
                            span(data-type="organization" data-id="Babl") «Babel»
                p
                    |On the other hand, the actions of
                    span(data-type="person"  data-id="GeMa") Malenkov
                    |,
                    span(data-type="person" data-id="NiKh") Khrushchev
                    |and
                    span(data-type="person" data-id="LaBe") Beria
                    |can be explained by fear. During the rule of
                    span(data-type="person" data-id="JoSt") Stalin
                    |, no one was immune from unexpected repressions, especially his closest circle. And the dictator himself liked to remind them about this from time to time. So given his suspiciousness, the trio could have gotten into trouble even if they had called the doctors right away. The leader could suspect that they want to declare him incompetent and remove him from power.
                p
                    |In the
                    span(data-type="date") 2000s
                    |, a new theory appeared that
                    span(data-type="person" data-id="JoSt") Stalin
                    |was allegedly poisoned with warfarin. This drug thins the blood, preventing it from clotting. But in case of an overdose, it can cause severe bleeding. However, modern medical research refutes this theory, based on data on the autopsy of
                    span(data-type="person" data-id="JoSt") Stalinʼs
                    |body. And it is unlikely that anyone would be able to bring something suspicious to
                    span(data-type="person" data-id="JoSt") Stalinʼs
                    |dacha. Even his closest four comrades were thoroughly searched by the guards twice — at the gate and at the entrance to the house. And this especially annoyed the old Chekist
                    span(data-type="person" data-id="LaBe") Beria
                    |.
                p
                    |This was the name given to the employees of the
                    span(data-type="organization" data-id="Chka") All-Russian Extraordinary Commission
                    |(in Russian —
                    span(data-type="organization" data-id="Chka") Cheka
                    |) for the fight against counter-revolution and sabotage — the state security body of
                    span(data-type="place" data-id="plRu") Soviet Russia
                    |in
                    span(data-type="date") 1917
                    |-
                    span(data-type="date") 1922
                    |. Its successors were the
                    span(data-type="organization" data-id="OGPU") United State Political Administration (OGPU)
                    |, the
                    span(data-type="organization" data-id="NKVD") Peopleʼs Commissariat of Internal Affairs (NKVD)
                    |, and then the
                    span(data-type="organization" data-id="KGB") State Security Committee (KGB)
                    |.
                    span(data-type="person" data-id="LaBe") Beria
                    |headed the
                    span(data-type="organization" data-id="NKVD") NKVD
                    |n
                    span(data-type="date") 1938
                    |-
                    span(data-type="date") 1945
                    |.
            section.section_1_5
                h2 The main suspect is Beria
                p
                    |In the story of
                    span(data-type="event" data-id="StDe") Stalinʼs death
                    |,
                    span(data-type="person" data-id="LaBe") Lavrentiy Beria
                    |deserves the most suspicion. According to researchers, he had a strong motive to get rid of the leader. After all, it was
                    span(data-type="person" data-id="LaBe") Beria
                    |who was to become the main figure in the
                    span(data-type="event" data-id="MeCa") "Megreli case"
                    |.
                p
                    |The campaign against high-ranking officials and prosecutors of the
                    span(data-type="place" data-id="plGe") Georgian SSR
                    |, who were from
                    span(data-type="place" data-id="plMe") Megrelia
                    |, a historical region in western
                    span(data-type="place" data-id="plGe") Georgia
                    |. They were accused of a "nationalist conspiracy" with the aim of separating
                    span(data-type="place" data-id="plGe") Georgia
                    |from the
                    span(data-type="place" data-id="USSR") USSR
                    |. The first arrests began in
                    span(data-type="date") November 1951
                    |. And in
                    span(data-type="date") April 1953
                    |, a high-profile public trial was to take place, at which the accused were supposed to name
                    span(data-type="person" data-id="LaBe") Beria
                    |as the main organizer.
                p
                    |— another repressive campaign that
                    span(data-type="person" data-id="JoSt") Stalin
                    |launched at the end of his life.
                p
                    |Historians cite some facts to support this theory. It was
                    span(data-type="person" data-id="LaBe") Beria
                    |who selected the doctors who tried to save
                    span(data-type="person" data-id="JoSt") Stalin
                    |and allegedly told them what to write in the medical documents. They recall the story of
                    span(data-type="person" data-id="ArRu") Arseniy Rusakov
                    |, who was part of the group of doctors who performed
                    span Stalinʼs
                    |autopsy. Apparently, he detected signs of poisoning of the leader. But already on
                    span(data-type="date") April 12, 1953
                    |, he "died prematurely." The day after
                    span(data-type="event" data-id="StDe") Stalinʼs death
                    |, by order of
                    span(data-type="person" data-id="LaBe") Beria
                    |, all the dictatorʼs bodyguards were laid off and sent away from
                    span(data-type="place" data-id="plMo") Moscow
                    |. Later, two of them committed suicide — according to the official version, they shot themselves. Also, by order of
                    span(data-type="person" data-id="LaBe") Beria
                    |, not only all papers, but also furniture and dishes were removed from the dacha.
                p
                    |Later, rumors appeared that
                    span(data-type="person" data-id="VyMo") Vyacheslav Molotov
                    |,
                    span(data-type="person" data-id="JoSt") Stalinʼs
                    |long-term foreign minister, allegedly told how during a parade on
                    span(data-type="place" data-id="plRS") Red Square
                    |on
                    span(data-type="date") May 1, 1953
                    |,
                    span(data-type="person" data-id="LaBe") Beria
                    |whispered in his ear: "It was I who saved you all from
                    span(data-type="person" data-id="JoSt") Stalin
                    |."
                figure.p1_7.style1.style4
                    img(src=path + "issues/img/art_1_7.webp")
                    figcaption
                        span
                            span(data-type="person" data-id="JoSt") Stalinʼs
                            |funeral in
                            span(data-type="place" data-id="plMo") Moscow
                            |. In the photo, the first on the right is
                            span(data-type="person" data-id="NiKh") Khrushchev
                            |, the second is
                            span(data-type="person" data-id="LaBe") Beria
                            |, the fourth is
                            span(data-type="person"  data-id="GeMa") Malenkov
                            |,
                            span(data-type="date") March 9, 1953
                            |.
                        span
                            |Getty Images /
                            span(data-type="organization" data-id="Babl") «Babel»
                p
                    |According to the memoirs of
                    span(data-type="person" data-id="LaBe") Beriaʼs
                    |son
                    span(data-type="person" data-id="SeBe") Sergo
                    |, his mother
                    span(data-type="person" data-id="NiGe") Nina
                    |said to her husband after the
                    span(data-type="event" data-id="StDe") leaderʼs death
                    |: "Your position is even more precarious now than during
                    span(data-type="person" data-id="JoSt") Stalinʼs
                    |life."
                p.finish.no-letter
                    .finish_left
                    .finish_right
                    |Her words turned out to be prophetic. At the end of
                    span(data-type="date") June 1953
                    |,
                    span(data-type="person"  data-id="GeMa") Malenkov
                    |and
                    span(data-type="person" data-id="NiKh") Khrushchev
                    |conspired and arrested
                    span(data-type="person" data-id="LaBe") Beria
                    |. In
                    span(data-type="date") December of the same year
                    |, he was shot.
                    span(data-type="person" data-id="LaBe") Beria
                    |was officially accused of anything — treason, working for
                    span(data-type="organization" data-id="BrIn") British intelligence
                    |, counter-revolutionary activities, but not involvement in
                    span(data-type="event" data-id="StDe") Stalinʼs death
                    |.
        include ../content/_aside